{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Personal financial dashboard">
    <meta name="author" content="">
    <link
        rel="icon"
        href="https://cdn0.iconfinder.com/data/icons/shark/154/shark-fin-wave-sea-256.png">

    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <style>
     #dash > * {
         display: none;
     }
     #dash > * {
         display: none;
     }
     #dash > *:target {
         display: block;
         animation: pulse 0.5s linear 1;
     }
     @keyframes pulse {
         0%   { opacity:0; }
         100% { opacity:1; }
     }
     .max-table-height {
         max-height: 600px;
     }

    </style>

    <title>{{.Title}}</title>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand"
         href="#view-{{.Data.RecentMonth}}-aggcat">
        {{.Title}}
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"
               href="#">Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link"
                 href="#view-{{.Data.RecentMonth}}-aggcat">
                Monthly Reports
              </a>
              <nav class="nav flex-column" style="margin-left: 20px;">
                {{with .Data}}{{range .Months}}
                <a class="nav-link"
                   href="#view-{{.Month}}-aggcat">
                  {{.Month}}
                </a>
                <nav class="nav flex-column" style="margin-left: 20px;">
                  <a class="nav-link max-active"
                     href="#view-{{.Month}}-aggcat">
                    Categories
                  </a>
                  <a class="nav-link max-active"
                     href="#view-{{.Month}}-txs">
                    Transactions
                  </a>
                </nav>
                {{end}}{{end}}
              </nav>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#view-history-aggcat">History</a>
              <nav class="nav flex-column" style="margin-left: 20px;">
                <a class="nav-link max-active"
                   href="#view-history-aggcat">
                  Categories
                </a>
                <a class="nav-link max-active"
                   href="#view-history-txs">
                  Transactions
                </a>
              </nav>
            </li>
          </ul>
        </div>

        <!-- VIEWS -->
        <div class="col-md-10" id="dash">
          {{with .Data}}
          {{range .Months}}
          <div id="view-{{.Month}}-aggcat">
            <h1 class="page-header">{{.Month}}</h1>
            <div class="row">
              <div class="col-md-6">
                <div id="plot-{{.Month}}-aggcat"></div>
              </div>
              <div class="col-md-6">
                <h2>Total Category Spending</h2>
                <div class="table-responsive max-table-height">
                  {{template "aggcat" .}}
                </div>
              </div>
            </div>
          </div>

          <div id="view-{{.Month}}-txs">
            <h1 class="page-header">{{.Month}}</h1>
            <div class="row">
              <div class="col-md-6">
                <div id="plot-{{.Month}}-txs"></div>
              </div>
              <div class="col-md-6">
                <h2>Monthly Transactions</h2>
                <div class="table-responsive max-table-height">
                  {{template "txs" .}}
                </div>
              </div>
            </div>
          </div>
          {{end}}
          {{end}}

          <div id="view-history-aggcat">
            <h1 class="page-header">Total Category Aggregates</h1>
            <div class="row">
              <div class="col-md-6">
                <div id="plot-history-aggcat"></div>
              </div>
              <div class="col-md-6">
                <h2>Total Category Spending</h2>
                <div class="table-responsive max-table-height">
                  {{template "aggcat" .Data.All}}
                </div>
              </div>
            </div>
          </div>

          <div id="view-history-txs">
            <h1 class="page-header">Transactions</h1>
            <div class="row">
              <div class="col-md-6">
                <div id="plot-history-txs"></div>
              </div>
              <div class="col-md-6">
                <h2>All Transactions</h2>
                <div class="table-responsive max-table-height">
                  {{template "txs" .Data.All}}
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- END VIEWS -->

      </div>
    </div>
    <script
        type="text/javascript"
        src="https://cdn.plot.ly/plotly-basic-latest.min.js">
    </script>

    <script>
     {{with .Data}}
     {{range .Months}}
     Plotly.newPlot('plot-{{.Month}}-aggcat', {{template "catpie" .}});
     Plotly.newPlot('plot-{{.Month}}-txs', {{template "scatxs" .}});
     {{end}}
     {{end}}
     Plotly.newPlot('plot-history-aggcat', {{template "catpie" .Data.All}});
     Plotly.newPlot('plot-history-txs', {{template "scatxs" .Data.All}});

     window.onresize = function() {
         {{with .Data}}{{range .Months}}
         if ($('#plot-{{.Month}}-aggcat').is(':visible')) {
             Plotly.Plots.resize($('#plot-{{.Month}}')[0]);
         }
         if ($('#plot-{{.Month}}-txs').is(':visible')) {
             Plotly.Plots.resize($('#plot-{{.Month}}-txs')[0]);
         }
         {{end}}{{end}}
     };
    </script>

    <script
        src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous">

    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous">

    </script>

    <script>
     var maxactive = 'active bg-primary text-white';
     var activateHref = function(e) {
         var url = window.location.href;
         $('.nav a').each(function() {
             if (this.href === url) {
                 if ($(this).hasClass('max-active')) {
                     $(this).addClass(maxactive);
                 } else {
                     $(this).addClass('active');
                 }
             } else {
                 $(this).removeClass(maxactive);
             }
         });
     };
     $(window).on('hashchange', activateHref)
     activateHref();
    </script>

  </body>
</html>
{{end}}
