{{define "catpie"}}
{
  "data": [
    {
      "type": "pie",
      "values": {{.Values}},
      "labels": {{.Labels}},
      "marker": {
        "colors": {{.Colors}}
      },
      "showlegend": false
    }
  ],
  "layout": {
    "title": "Aggregated Categories for {{.Month}}"
  }
}
{{end}}
